.search-bar {
  flex: 1;
  display: grid;
  position: relative;
  grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
  max-width: 35rem;
  border-radius: 10px;
}

.search__input {
  font-size: 1rem;
  position: relative;
  width: 100%;
  text-indent: 1.3rem;
  outline: none;
  background-color: transparent;
  border-radius: 0.4rem;
  color: var(--primary-grey);
  background: rgba(19, 21, 26, 0.98);
  border: 1px solid rgb(35, 35, 35);
  padding: 0.5rem;
}

.search__btn {
  padding: .5rem;
  font-size: 0.9rem;
  position: absolute;
  display: flex;
  align-items: center;
  top: 50%;
  transform: translateY(-50%);
  background-color: transparent;
  color: var(--details-color);
  border: none;
  cursor: pointer;
}

.search-result__list {
  top: 2.2rem;
  /* padding-top: 2.1rem; */
  position: absolute;
  overflow-y: auto;
  width: 100%;
  max-height: 70vh;
  border-radius: 0 0 1rem 1rem;
  background: rgba(24, 26, 30, 0.83);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(50px);
  -webkit-backdrop-filter: blur(50px);
  border: 1px solid rgb(41, 41, 41);
}

.search-result__item {
  overflow-x: none;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  overflow-y: scroll;
  max-width: 100%;
  margin: 0.5rem;
}

.search-result__content {
  flex: 1;
  width: 0 auto;
  cursor: pointer;
}

.search-result__content a {
  border-radius: 0.5rem;
  padding: 0.5rem;
  width: 100%;
  display: flex;
  align-items: center;
  user-select: none;
}

.search-result__content a:hover,
.search-result__content a.focused {
  background: var(--primary-color);
}

.search__poster {
  width: 3rem;
  height: 3rem;
  margin: 0 1rem 0 0.5rem;
  border-radius: 0.7rem;
  object-fit: cover;
}