.header {
    position: sticky;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    box-shadow: 0 0px 2px rgba(39, 39, 39, 0.5);
    background: #090909;
    width: 100%;
    gap: 0.6rem;
    padding: 0.6rem 1.5rem;
  }