* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --primary-color: #007bff;
    --secondary-color: #6c757d;
    --details-color: #f8f9fa;
    --surface-color: #121212;
    --border-radius: 0.25rem;
}

body {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    line-height: 1.6;
    background-color: black;
    color: rgb(218, 218, 218);
}

a {
    text-decoration: none;
}

li {
    list-style-type: none;
}

/* Rubriker */
h1 {
    font-size: 2.25rem;
    margin-bottom: 1rem;
}

h2 {
    font-size: 1.75rem;
    margin-bottom: 0.75rem;
}

h3 {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
}

.wrapper {
    max-width: 1020px;
    margin: 0 auto;
  }