.nav__list {
    display: flex;
    gap: 1.5rem;
    /* padding: 0 1rem 0 0; */
}

.nav__link {
    display: inline-block;
    position: relative;

}

.nav__link a {
  font-size: 16px;
  display: flex;
  align-items: center;
  gap: .2rem;
}

.nav__link::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0px;
    left: 0;
    transform: scaleX(0);
    background-color: var(--details-color);
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
    border-radius: 2rem;
  }
  
  .nav__link:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }

  .nav__link:active {
    transform: scale(.98);
  }